@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #242526;
}
.site__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 2rem 0;

  .header__inner {
    a {
      margin-right: 1rem;
    }
  }
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #000;
  h4 {
    font-weight: 600;
  }
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 4rem;
}

img {
  width: 100%;
}

.error__text {
  color: red;
  font-size: 0.875rem;
  margin: 0 0 0.5rem 0;
}
.error__input {
  border-color: red;
}
