.login__page {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 2rem;

    img {
        margin: 0 auto;
        max-width: 250px;
        border-radius: 100%;
        margin-bottom: 2rem;
    }
    form,
    .new__section {
        display: flex;
        flex-direction: column;
        max-width: 22rem;
        margin: 0 auto;
    }

    input[type="email"],
    input[type="password"],
    button[type="submit"],
    .forgot__pass {
        width: 100%;
        margin-bottom: 0.5rem;
    }
}
